.Attempt-List-Main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25vw;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.Attempt-List-Main input[type="input"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.Attempt-List-Main ul {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
}

.Attempt-List-Main li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.Attempt-List-Main li:last-child {
  margin-bottom: 0;
}
